@font-face{
    font-family: Bhaataan;
    src:
    local("Bhaataan"),
    url("../fonts/Sans-serif/Traditional/Bhaataan.woff") format("woff");
}

@font-face{
    font-family: BhaataanSerif;
    src:
    local("BhaataanSerif"),
    url("../fonts/Serif/Traditional/BhaataanSerif.woff") format("woff");
}
