@font-face{
    font-family: Bhaataan;
    src:
    local("Bhaataan"),
    url("../fonts/Sans-serif/Traditional/Bhaataan.woff") format("woff");
}

@font-face{
    font-family: Bhaataan-HighContrast;
    src:
    local("Bhaataan-HighContrast"),
    url("../fonts/high-contrast/Traditional/Bhaataan-HighContrast.woff") format("woff");
}
